.intro {
    height: 50%;
}

.intro h1{
    color: white;
    font-size: 800%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro img {
    background-position: center;
    object-fit: cover;
}

hr {
    margin: 5% 24%;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    font-size: 150%;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 5%;
    margin-left: 25%;
    max-width: 50%;
    align-items: center;
    justify-content: center;
}

.recipe-info img{
    max-width: 50%;
}

.recipe-info hr {
    border: 1px solid black;
}

.cooking-info {
    display: flex;
    flex-direction: column;
    font-size: 130%;
    text-align: justify;
    margin-left: 25%;
    max-width: 50%;

}

.cooking-info img {
    max-width: 50%;
    align-self: center;
}

.directions {
    display: flex;
    flex-direction: column;
    font-size: 130%;
    text-align: justify;
    margin-left: 25%;
    margin-bottom: 5%;
    max-width: 50%;
    align-items: flex-start;
    
}